<div class="row" *ngIf="service">
    <div class="col">

        <div class="card">
            <div class="card-header bg-dark text-white"><i class="fas fa-toolbox"></i> Work done
            </div>
            <div class="card-body">
                <textarea name="" class="from-control" [(ngModel)]="service.Notes"
                    (change)="orederChanged()"></textarea>
            </div>
        </div>

        <app-service-parts *ngIf="user" [user]="user"></app-service-parts>

        <app-service-item *ngIf="user" [user]="user"></app-service-item>

   



        <div class="card">
            <div class="card-header bg-dark text-white"><i class="fas fa-route"></i> Distance travelled
            </div>
            <div class="card-body">
                <div>
                    <div class="card-text">

                    </div>




                    <div class="mx-auto">
                        <a (click)="editing = true; viewing = false" class="link link-dark"
                            style="margin-right: 1em;">Edit</a>

                        <a (click)="editing = false; editing = false" class="link link-secondary">Change customer</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>