@import '../../../../../assets/styles/color';

.notes {
  font-weight: 600;
  background: $white;
  padding: 1em;
  margin: 2em 1em;
  h3{
    text-transform: uppercase;
    padding-bottom: 1em;
  }

  span {
    display: block;
    font-weight: 400;
    padding: .5em 0;
    white-space: pre-wrap;
    border-top: 1px solid $cloud;
    margin-top: .5em;
  }
}

.row {
  display: grid;
  grid-template-columns: 50% auto;
  background: $white;
  padding: .5em 1em;
  margin: 0 1em;
  border-bottom: 1px solid $cloud;

  .col {
    &:last-child {
      text-align: right;
      font-size: .8em;
    }
  }
}

.actions {
  padding: 1em;

  button {
    margin: .5em 0;
  }
}

textarea {
  display: block;
  max-width: 92% !important;
  margin: 1em auto;
  background: $cloud;
  border-radius: 0;
}

a{
  font-size: .75em;
}