<app-loader *ngIf="!usersItems || !usersItems.length"></app-loader>
<div class="container" *ngIf="usersItems && usersItems.length">

<app-services-bread [items]="items" [heading]="'Users List'" [back]="'/admin/dashboard'"></app-services-bread>


  <app-card-list-widget *ngIf="usersItems && usersItems.length" (itemDeleteEvent)="itemDeleteEvent($event)" [primaryAction]="primaryAction" (primaryActionEvent)="add($event)" (itemSelectedEvent)="onitemSelected($event)" [showFilter]="showFilter" [items]="usersItems"></app-card-list-widget>

</div>





<app-add-user *ngIf="user" [user]="user" (doneEvent)="doneEvent($event)"></app-add-user>


