<div class="__main">
  <div class="__nav">
    <app-dash-nav></app-dash-nav>
  </div>
  <div class="__router-outlet">
    <router-outlet></router-outlet>
  </div>
</div>

<p-toast position="top-right" baseZIndex="9999999999"></p-toast>
<p-confirmPopup baseZIndex="9999999999"></p-confirmPopup>


<div class="overlay" *ngIf="loadingUx && loadingUx.Loading">
  <app-loader></app-loader>
</div>


<div class="_toast" *ngIf="message && message.Message" [ngClass]="message.Class">
  <p>
    {{message.Message}}
  </p>
</div>