<!-- 
<div class="dash-board">
  <div>
    <div class="pc-only pc-menu">
      <app-nav-items></app-nav-items>
    </div>
  </div>
  <div class="phone-only">
    <div class="menu-bar">
      <button class="btn btn-light" (click)="showMenu = !showMenu">
        <i *ngIf="!showMenu" class="fas fa-bars"></i>
        <i *ngIf="showMenu" class="fas fa-times"></i>
      </button>
    </div>

    <div class="phone-menu" *ngIf="showMenu" (click)="showMenu = !showMenu">
      <app-nav-items></app-nav-items>
    </div>
  </div>
  <div class="router-outlet">
  </div>
</div> -->

<div class="__main">
  <div class="__nav">
    <app-dash-nav></app-dash-nav>
  </div>
  <div class="__router-outlet">
    <router-outlet></router-outlet>
  </div>
</div>

<p-toast position="top-right" baseZIndex="9999999999"></p-toast>
<p-confirmPopup  baseZIndex="9999999999"></p-confirmPopup>

