<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 pc-only">
      <div class="slide-nav">
        <ul class="list-group">

          <li class="list-group-item">
            <a routerLink="/admin/dashboard" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active-link"><i
                class="fas fa-th-large"></i> Dasboard</a>
          </li>

          <li class="list-group-item">
            <a routerLink="/admin/dashboard/customers" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active-link"><i
                class="fas fa-users"></i> Customers</a>
          </li>


          <li class="list-group-item">
            <a routerLink="/admin/dashboard/products" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active-link"><i
                class="fas fa-box"></i> Parts</a>
          </li>

          <li class="list-group-item">
            <a routerLink="/admin/dashboard/part-types" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active-link"><i
                class="fas fa-layer-group"></i> Part Types</a>
          </li>
          <li class="list-group-item">
            <a routerLink="/admin/dashboard/charges" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active-link"><i
                class="fas fa-cogs"></i> Settings</a>
          </li>

          <li class="list-group-item">
            <a routerLink="/admin/dashboard/services/1" routerLinkActive="active-link"><i
                class="fas fa-wrench"></i> Services</a>
          </li>

          <li class="list-group-item">
            <a (click)="logout()"><i
                class="fas fa-power-off"></i> Logout</a>
          </li>


        </ul>
      </div>
    </div>
    <div class="col-md-10 router-outlet">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<p-toast position="top-right" baseZIndex="9999999999"></p-toast>



<!-- 



<app-dashboard-top-bar></app-dashboard-top-bar>
<div class="dasboard">


  <div class="dash-body">
    <router-outlet></router-outlet>
  </div>
</div>


<div class="pop" [ngClass]="message.Class" *ngIf="message">
  <p>
    {{message.Message}}
  </p>
  <div class="">
    <span class="material-icons" (click)="message = null">
      close
    </span>
  </div>
</div>



<div class="overlay" *ngIf="loadingUx && loadingUx.Loading">
  <div class="loading">
    <mat-spinner></mat-spinner>
    <h3 *ngIf="loadingUx.Message">
      {{loadingUx.Message}}
    </h3>
  </div>
</div>
<button *ngIf="showScrollUp" class="scroll-top" (click)="totop()">
  <span class="material-icons">
    arrow_circle_up
  </span>
</button> -->
