@import "../../../../assets/styles/color";
.__main {
  display: grid;
  grid-template-columns: 15em auto;

  @media only screen and (max-width: 600px) {
    grid-template-columns: 100%;
  }
  .__nav {
  }
  .__router-outlet {
    //  background: red;
    padding: 1em 2em;

    @media only screen and (max-width: 600px) {
      padding:6em .5em;
    }
  }
}
