@import '../../../../assets/styles/color';

.slide-nav {
  height: 100vh;
  background: $primary;
  position: fixed;
  width: 15em;

  .list-group {
    background: none;

    .list-group-item {
      background: none;

      a {
        color: $white;
        display: block;
        padding: .4em 1em;
        border-radius: 2em;

        .fas {
          position: relative;
          margin-right: 1em;
        }
      }

      .active-link {
        background: #545454 !important;
      }
    }
  }
}

.container-fluid {
  margin: 0;
  padding: 0;
  max-height: 100vh;
  overflow-y: scroll;
  position: relative;
  overflow-x: hidden;
}
