@import '../../../../../assets/styles/color';

.card {
  margin: 2em auto;
  padding: 1em;
  background: $white;

  h3 {
    padding: .1em 0;
    text-transform: uppercase;
  }

  button {
    font-size: .8em !important;
    padding: .3em .75em !important;
    width: fit-content;
    display: block;
  }

  .top {
    padding: .5em 0;
    border-bottom: 1px solid $grey;
    display: grid;
    grid-template-columns: 48% auto;

    .col {
      text-align: right;
    }

  }

  .top-col1 {
    grid-template-columns: 100%;
  }

  .form-item {}
}

.sign {
  padding: .5em 0;

  .sign-done {
    img {
      width: 10em;
    }
  }
}

.actions {
  padding-bottom: 4em;
  button{
    display: block;
    margin: .5em auto;
  }
}

.questions{
  padding: 1em 0;
  .question{
    padding: 1em;
    border-bottom: 2px solid $grey;
    margin:1em auto;
    background: $cloud;
    border-radius: .5em;
    .question-actions{
      display: grid;
      grid-template-columns: 4em 4em 4em;
      padding: 1em;
    }

    .question-input{
      padding: .5em 1em;
      input,textarea{
        background: $white;
      } 
    }
  }
}
