@import "../../../assets/styles/color";
.logooo {
  text-align: center;
  padding: 2em;
  img {
    width: 12em;
    // box-shadow: $box-shadow;
    border-radius: .5em;
    @media only screen and (max-width: 600px) {
      width: 7em;
    }
  }
}
