.container {
    max-width: 40em !important;
    padding: 1em;
    margin: 2em !important;

    @media only screen and (max-width: 600px) {
        margin: 0 !important;
    }
}

.view-btn{
    position: fixed;
    z-index: 100000000000000;
    top: 1em;
    right: 1em;
}