<div class="card">
    <div class="card-header bg-dark text-white"><i class="fas fa-building"></i> Labour
    </div>
    <div class="card-body">
        <div class="items" *ngIf="serviceLabourItems">
            <div class="item d-flex justify-content-between" *ngFor="let item of serviceLabourItems">
                <div class="name"> {{item.Name}}
                    <p>
                        <strong>
                            {{item.LimitValue}} hours
                        </strong>
                    </p>

                </div>
                <div class="actions__">
                    <button class="btn  btn-danger qty-btn" (click)="removeItem(item)">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
        </div>

        <br>
        <div class="mx-auto">
            <a (click)="addItem(ITEM_TYPES.LABOUR.Name)" class="btn btn-primary" style="margin-right: 1em;">Select
                Labour</a>
        </div>
    </div>
</div>





<div class="card">
    <div class="card-header bg-dark text-white"><i class="fas fa-list-alt"></i> Consumables
    </div>
    <div class="card-body">
        <div>



            <div class="items" *ngIf="serviceConsumables">
                <div class="item d-flex justify-content-between" *ngFor="let item of serviceConsumables">
                    <div class="name"> {{item.Name}}
                        <p>
                            <strong>
                                Price: {{item.Price | currency : 'R'}}
                            </strong>
                        </p>

                    </div>
                    <div class="actions__">
                        <button class="btn  btn-danger qty-btn" (click)="removeItem(item)">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
            </div>

            <br>
            <div class="mx-auto">
                <a (click)="addItem(ITEM_TYPES.CONSUMABLES.Name)" class="btn btn-primary"
                    style="margin-right: 1em;">Select
                    Consumables</a>
            </div>
        </div>
    </div>
</div>




<div class="smart-overlay" *ngIf="selectingItems" (click)="selectingItems = false">

</div>

<div class="smart-modal" *ngIf="selectingItems">
    <div class="smart-close">
        <i class="far fa-window-close" (click)="selectingItems = false"></i>
    </div>

    <div class="_main" *ngIf="service">
        <!-- <h6 class="_header">
           {{heading}}
        </h6>
        <hr> -->
        <!-- 
        <div class="items" *ngIf="selectedItems && selectedItems">
            <div class="item d-flex justify-content-between" *ngFor="let item of selectedItems">
                <div class="name">{{item.Name}}
                    <div class="text-muted text-small" *ngIf="item.Price">
                        {{item.Price | currency: 'R'}} <span *ngIf="item.ItemSubCategory"> - {{item.ItemSubCategory}}</span>
                    </div>

                </div>
                <div class="actions__" >
                    <button class="btn btn-primary qty-btn" *ngIf="!item.Selected" (click)="addItemsUsedToService(item)">
                        Select
                    </button>
                    <button class="btn btn-danger qty-btn" *ngIf="item.Selected" (click)="removeItemsUsedToService(item)">
                        Remove
                    </button>
                </div>
            </div>
        </div> -->

        <!-- <br><br> -->


        <div class="" *ngIf="item">

            <div *ngIf="item" class="add-form">
                <br>
                <div class="card">
                    <div class="card-header bg-dark text-white"><i class="fas fa-plus"></i> {{heading}}
                    </div>
                    <div class="card-body">


                        <div class="form-item">
                            <label for="">Choose Rate</label>

                            <div class="">
                                <a *ngFor="let _item of selectedItems" class="my-badge"
                                    (click)="useItem(_item)">{{_item.Name}} {{_item.Price |
                                    currency: 'R'}} <span *ngIf="_item.ItemSubCategory"> -
                                        {{_item.ItemSubCategory}}</span></a>

                            </div>
                        </div>

                        <div class="form-item">
                            <label for="">{{item.ItemType}} Name</label>
                            <input type="search" class="from-control" [(ngModel)]="item.Name">
                        </div>

                        <div class="form-item" *ngIf="item.ItemType == ITEM_TYPES.LABOUR.Name">
                            <label for="">Total {{item.ItemType}} hours</label>
                            <input type="tel" class="from-control" [(ngModel)]="item.LimitValue">
                        </div>


                        <div class="form-item" *ngIf="item.ItemType == ITEM_TYPES.CONSUMABLES.Name">
                            <label for="">{{item.ItemType}} price</label>
                            <input type="tel" class="from-control" [(ngModel)]="item.Price">
                        </div>


                        <div class="mx-auto">
                            <a class="btn btn-primary" (click)="saveItem()" style="margin-right: 1em;">Save
                                {{item.ItemType}} </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <br>


    </div>
</div>