

<div class="__form">

  <div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" [(ngModel)]="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <br>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" [(ngModel)]="password" class="form-control" id="exampleInputPassword1">
    </div>

    <button  class="btn btn-primary" *ngIf="!loading" (click)="Login()">Login</button>
    <button class="btn btn-primary" *ngIf="loading">Logging in ...</button>

    <br><br>
    <a routerLink="/home/forgot-password">Forgot password?</a>
    <h5 *ngIf="error" class="error">{{error}}</h5>
  </div>
</div>