<div class="main">
  <img src="assets/images/home-iphne-bg.png" class="phone-only" alt="">
  <img src="assets/images/home-tab-bg.svg" class="tab-only" alt="">
  <img src="assets/images/home-pc-bg.svg" class="pc-only" alt="">

  <div class="form">
    <input type="email" [(ngModel)]="email" placeholder="Username">
    <input type="password" [(ngModel)]="password" placeholder="Password">
    <button class="primary" mat-button color="primary" *ngIf="!loading" (click)="Login()">Login</button>
    <button class="primary" mat-button color="primary"  *ngIf="loading">Logging in ...</button>
    <h5 *ngIf="error" class="error">{{error}}</h5>
  </div>
</div>
