@import '../../../../../../assets/styles/color';

.card {
  margin: 1em auto;

}

.sign {
  padding: .5em 0;

  .sign-done {
    img {
      width: 10em;
    }
  }
}

.actions {
  padding-bottom: 4em;
}

.part-list {
  .part {
    background: $cloud;
    padding: 1em;
    margin: 1em 0;
    border-radius: .75em;

    button{
      margin: 1em 0;
    }
  }
}

button{
margin:   .5em auto
}