@import "../../../../../assets/styles/color";
.__nav {
  position: fixed;
  width: 15em;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1000000;
  background: $primary;
}

._pc-nav {
  @media only screen and (max-width: 600px) {
    display: none;
  }
}


._phone-nav{
  display: none;
  @media only screen and (max-width: 600px) {
    display: block;
  }

  .menu-bar{
    position: fixed;
    width: 100%;
    padding: 1em;
    left: 0;
    top: 0;
    background: $primary;
    z-index: 1000001;
  }

  .__nav{
    top: 4em;
  }
}