button,
.btn {
  border-radius: none;
  border: none;
  width: fit-content;
  font-weight: 600 !important;
  border-radius: 0.5em;
  transition: 0.4s ease-in-out;
  font-size: 1em !important;
  text-transform: none !important;
  padding: 0.5em 1em !important;
  margin-right: 1em !important;

  &:disabled {
    background: $cloud !important;
    color: $darker-grey !important;
    border: 1px solid $darker-grey;
    cursor: no-drop;
  }

  cursor: pointer;
  text-transform: uppercase;

  .primary {
    background: $pop;
    color: $white;
    color: $white !important;
  }

  .secondary {
    background: $black !important;
    color: $white !important;
    border: 2px solid $black !important;
  }

  .tertiary {
    border: 2px solid $black !important;
    color: $black !important;
    background: $white !important;
  }
}

.icon-btn {
  padding: 0.5em !important;
}
.tac {
  text-align: center !important;
}

.qty-btn {
  padding: 0.4em !important;
  font-size: 0.65em !important;
}

.a_text {
  padding: 0.5em;
}
